* {
  box-sizing: border-box;
}

#root {
  font-size: 1.8rem;
  font-family: sans-serif;
  height: 100vh;
}

body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
}

body[data-isday="true"] {
  background: rgb(59, 92, 182);
}

body[data-isday="false"] {
  background: rgb(15, 23, 47);
}

input, button {
  font-family: inherit;
}

main {
  width: 60vw;
  min-width: 300px;
  padding-bottom: 2rem;
}

main > section {
  padding-bottom: 2rem;
}

.temperature-main-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 5rem;
}

h1 {
  font-size: 5rem;
  font-weight: bold;
  background: linear-gradient(90deg, #ecff6e, #7873f5, #4ade80);
  background-size: 300%;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradientShift 3s infinite linear, scaleUp 2s infinite alternate;
  text-align: center;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 2;
}

@keyframes gradientShift {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes scaleUp {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}

.main-info-container {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 8;
}

.temperature {
  font-size: 17rem;
  font-weight: 400;
  line-height: 18rem;
}

.time {
  font-size: 5rem;
  font-weight: 600;
}

.main-info-container span {
  font-size: 2.5rem;
}

.hourly-container {
  margin-bottom: 5rem;
}

.hourly-container > section {
  display: flex;
  gap: 3rem;
  border-radius: 20px;
  width: 100%;
  overflow-y: hidden;
  scrollbar-width: none;
  scrollbar-color: lightgray transparent;
  background-color: rgba(24, 37, 74, 0.4);
}

.hourly-data-item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 10rem;
  padding: 1.5rem 2rem;
  font-size: 1.8rem;
}

.daily-container > table {
  margin-bottom: 5rem;
  border-radius: 20px;
  padding: 1.5rem 2rem;
  background-color: rgba(24, 37, 74, 0.4);
  table-layout: fixed;
  width: 100%;
  text-align: center;
  font-size: 2.5rem;
}

.additional-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 3rem;
  font-size: 2.5rem;
}

.additional-info > div {
  display: flex;
  flex-direction: column;
  width: 33rem;
  height: 10rem;
  padding: 1.5rem 2rem;
  border-radius: 20px;
  background-color: rgba(24, 37, 74, 0.4);
  margin-bottom: 2rem;
}

.additional-info div div:nth-child(2) {
  font-size: 1.8rem;
  color: hsla(0, 0%, 100%, 0.5);
}

.sun-position-container {
  padding: 1.5rem 2rem;
  border-radius: 20px;
  background-color: rgba(24, 37, 74, 0.4);
  margin-bottom: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.sun-position-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sun-position-title > div:first-child {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}

.sun-position-title > div:last-child {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 1rem;
}

.sun-position-title > div > div:nth-child(2) {
  opacity: 0.7;
  font-size: 1.8rem;
}

.sun-position-hours {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 2.5rem;
}

button {
  background-color: transparent;
  padding: 1.5rem 2rem;
  border-radius: 20px;
  font-size: 1.8rem;
  border: 1px solid hsla(0, 0%, 100%, 0.4);
}

button:hover {
  cursor: pointer;
  color: hsla(0, 0%, 100%, 0.5);
  border: 1px solid hsla(0, 0%, 100%, 0.2);
}

.details-menu-container {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 2rem;
}

.details-menu-container > div:hover {
  color: hsla(0, 0%, 100%, 0.5);
  cursor: pointer;
}

.details-table {
  text-align: center;
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
}

.details-table th {
  border-bottom: 1px solid hsla(0, 0%, 100%, 0.3);
  color: hsla(0, 0%, 100%, 0.5);
  font-size: 1.6rem;
}

.details-table td {
  font-size: 1.6rem;
  color: hsla(0, 0%, 100%, 0.5);
}

.details-table > tbody > tr td {
  padding: 10px 0;
}

.details-table > tbody > tr:hover {
  background-color: hsla(0, 0%, 100%, 0.1);
}

.details-table > tbody > tr:hover > td:first-child {
  border-radius: 20px 0 0 20px;
}
.details-table > tbody > tr:hover > td:last-child {
  border-radius: 0 20px 20px 0;
}

.details-table > tbody > tr:hover td {
  color: #fff;
  font-weight: 600;
}
